@import "../../../styles/fonts";
@import "../../../styles/colors";

@media (max-width: 37.5rem) {
  .recover-password {
    display: flex;
    flex-direction: column;
    width: 100%;

    .redirect {
      display: flex;
      justify-content: center;
      font-family: $font-nunito-sans;
      font-size: 1.4rem;
      font-weight: 600;
      color: #0d7291;
      text-decoration: underline;
    }
  }

  .title {
    width: 100%;
    height: 7.8rem;
    padding: 4rem 2.4rem;
    margin-bottom: 6.6rem;

    h1 {
      font-family: $font-sora;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 1rem;
    }

    span {
      color: #000;
      font-family: $font-nunito-sans;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    a {
      font-size: 1.4rem;
      padding-left: 0.5rem;
      color: #1992b8;
      text-decoration: underline;
    }
  }

  .container-form {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;

    input {
      width: 32.7rem;
      height: 4rem;
      border-radius: 20px;
      border: none;
      background: #e6e6e6;
      padding: 2rem;
      font-size: 1.2rem;
      font-family: $font-nunito-sans;
      color: #807d7d;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 1.6rem;
    }

    input:focus {
      width: 32.7rem;
      height: 4rem;
      background: #ffffff;
      font-size: 1.4rem;
      font-family: $font-nunito-sans;
      color: #333333;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border-radius: 40px;
      border: 2px solid #807d7d;
      outline: 0;
    }

    label {
      font-size: 1.2rem;
      font-family: $font-nunito-sans;
      color: #333333;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 0.8rem;
    }

    .message-error {
      color: #fb263c;
      font-size: 1.2rem;
      font-family: $font-nunito-sans;
      font-weight: 300;
      line-height: normal;
      margin-top: -1rem;
      display: flex;
      justify-content: end;
    }

    .error-label {
      color: #fb263c;
      font-weight: 600;
    }

    .input-wrapper input {
      border: none;
      color: #807d7d;
    }

    .input-wrapper input:focus {
      border: 2px solid #807d7d;
    }

    .input-wrapper.error-border input {
      border: 2px solid red;
    }

    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        margin-top: -1.5rem;
      }
    }
  }
}
