@import "../../styles/fonts";
@import "../../styles/colors";

.headerHome {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 11rem;

    h2 {
        font-family: $font-nunito-sans;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
    }

    .photo {
        width: 4rem;
    }
}