/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ButtonInterests/styles.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 37.5rem) {
  .styles_btn-interests__RAvbJ {
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 1px 1px 2px 0.2px rgba(0, 0, 0, 0.25);
    color: #807D7D;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .styles_select__tTmvo {
    background-color: #1992b8 !important;
    color: #FFF !important;
    box-shadow: none !important;
    border: none !important;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/access/Interests/styles.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 37.5rem) {
  .styles_container-interests__IPqfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .styles_container-interests-title__NlLvr {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
  }
  .styles_container-interests-title__NlLvr h2 {
    padding-top: 1.6rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .styles_container-interests-btn__7N6sr {
    margin-top: 3.8rem;
    width: 100%;
  }
  .styles_container-interests-btn__7N6sr .styles_container-btn__XSvK8 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
    gap: 0.8rem;
  }
  .styles_container-interests-btn__7N6sr button {
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 1px 1px 2px 0.2px rgba(0, 0, 0, 0.25);
    color: #807D7D;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .styles_btn__XOdVD {
    width: 32.7rem;
    height: 4.6rem;
    margin-top: 4rem;
    border-radius: 5rem;
    border: none;
    background: #1992b8;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .styles_next___xl7M {
    margin-top: 1rem;
    color: #0D7291;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .styles_select__HiHA6 {
    background-color: #1992b8 !important;
    color: #FFF !important;
    box-shadow: none !important;
    border: none !important;
  }
}
