@import "../../styles/fonts";

@media (max-width: 37.5rem) {
  .container-card-perfil {
    display: flex;
    align-items: center;
    padding-bottom: 1.6rem;
    margin: 0 2.4rem;
  }

  .container-text-perfil {
    padding-left: 1.7rem;
    width: 23.9rem;

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-family: $font-nunito-sans;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .container-text-button {
    display: flex;
    align-items: center;

    h2 {
      width: 16.3rem;
    }
  }

  .btn-perfil {
    margin-left: 1rem;

    width: 4.8rem;
    height: 2.8rem;

    border-radius: 20px;
    border: none;
    background: #E6E6E6;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.30) inset;
  }

  .btn-perfil-atived {
    background: #7DD8FF !important;
  }

  .btn-perfil-eclipse {
    position: relative;
    top: 0.1rem;
    left: 0.05rem;

    width: 2.4rem;
    height: 2.52rem;

    background-color: white;
    border-radius: 1.3rem;

    fill: white;
    filter: drop-shadow(0.5px 0.5px 1px rgba(0, 0, 0, 0.30));

    transition: 0.5s ease-in-out;
  }

  .left {
    transform: translateX(90%);
  }

  .right {
    transform: translateX(10%);
  }
}