@import "../../styles/colors";
@import "../../styles/fonts";

@media (max-width: 37.2rem) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: $color-blue-3;

    img {
      width: 24.8rem;
      height: 24.8rem;
      margin-bottom: 15.4rem;
    }

    p {
      padding-bottom: 0.8rem;

      color: $color-white-1;
      font-family: $font-nunito-sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    h4 {
      color: $color-white;
      font-family: $font-sora;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}